.dashboard-row .dashboard-panel {
    background: inherit;
}

.welcome-header {
    width: 100%;
    min-width: 371px;
    font-size: 14px;
    padding-top: 10px;
}

#mainDisplay {
    min-height: 400px; 
    position: relative;
}

.useCaseStage {
    background-color: white;
    margin-bottom: 30px;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.ssecolumn {
    display: inline-block;
    margin-right: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.tooltiplabel {
    border: dashed #bbb;
    border-width: 0 0 1px;
    font-weight: bolder;
}

.showcase-list .tooltip p {
    text-align:left;
    color:#fff;
    max-width:210px;
}
.showcase-list .tooltip h2,.tooltip h3 {
    color: #fff;
}

.showcase-list li.mapped {
    background-image: url('/static/app/Splunk_Security_Essentials/images/general_images/content_mapped.png');
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 15%;
}


/*
.useCaseStage li {
  background-color: rgb(238, 238, 238);
}
*/

#AnalyticCount {
    height: 35px;
    width: 470px;
    font-size: 13px;
    line-height: 35px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 20px;
    background-color: lightgray;
    display: inline-block;
    float: right;
    text-align: center;
}

#rolePickerControl {
    display: inline-block;
    padding-right: 15px;
}

.multiselect {
    text-align: left;
}

.example-list li {
    display: list-item;
    padding: 0;
    margin: 0;
}

.example-list ul {
    list-style: initial;
    margin: initial;
}


/*

#rolePickerControl ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline;
    background-color: #e6e6e6;
}

#rolePickerControl li {
    float: left;
}

#rolePickerControl li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


#rolePickerControl li a:hover {
    background-color: #cecece;
}

#rolePickerControl .activeshowcase {
    background-color: #eeeeee;
    font-weight: bold;
}
*/

.popover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1010;
    display: none;
    max-width: 276px;
    padding: 1px;
    text-align: left;
    white-space: normal;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

.popover.top {
    margin-top: -10px;
}

.popover.right {
    margin-left: 10px;
}

.popover.bottom {
    margin-top: 10px;
}

.popover.left {
    margin-left: -10px;
}

.popover-title {
    padding: 8px 14px;
    margin: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #ebebeb;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

.popover-title:empty {
    display: none;
}

.popover-content {
    padding: 9px 14px;
}

.popover .arrow,
.popover .arrow:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}

.popover .arrow {
    border-width: 11px;
}

.popover .arrow:after {
    border-width: 10px;
    content: "";
}

.popover.top .arrow {
    bottom: -11px;
    left: 50%;
    margin-left: -11px;
    border-top-color: #999;
    border-top-color: rgba(0, 0, 0, 0.25);
    border-bottom-width: 0;
}

.popover.top .arrow:after {
    bottom: 1px;
    margin-left: -10px;
    border-top-color: #ffffff;
    border-bottom-width: 0;
}

.popover.right .arrow {
    top: 50%;
    left: -11px;
    margin-top: -11px;
    border-right-color: #999;
    border-right-color: rgba(0, 0, 0, 0.25);
    border-left-width: 0;
}

.popover.right .arrow:after {
    bottom: -10px;
    left: 1px;
    border-right-color: #ffffff;
    border-left-width: 0;
}

.popover.bottom .arrow {
    top: -11px;
    left: 50%;
    margin-left: -11px;
    border-bottom-color: #999;
    border-bottom-color: rgba(0, 0, 0, 0.25);
    border-top-width: 0;
}

.popover.bottom .arrow:after {
    top: 1px;
    margin-left: -10px;
    border-bottom-color: #ffffff;
    border-top-width: 0;
}

.popover.left .arrow {
    top: 50%;
    right: -11px;
    margin-top: -11px;
    border-left-color: #999;
    border-left-color: rgba(0, 0, 0, 0.25);
    border-right-width: 0;
}

.popover.left .arrow:after {
    right: 1px;
    bottom: -10px;
    border-left-color: #ffffff;
    border-right-width: 0;
}

.navmenuli {
    text-align: left;
    margin-left: 5px;
}

.journeyrow p {
    margin-top: 8px;
}

.FiltersBox {
    border: solid lightgray 1px;
}

#modalAdjustFilters .modal-body {
    overflow: scroll;
}

.dropdown-menu {
    width: 280px !important;
}

.darkMenuElement>a>label {
    color: darkgray !important;
}

span.deleteicon {
    position: relative;
}

span.deleteicon span {
    position: absolute;
    display: block;
    top: 5px;
    right: 0px;
    width: 16px;
    height: 16px;
    background: url('http://cdn.sstatic.net/stackoverflow/img/sprites.png?v=4') 0 -690px;
    cursor: pointer;
}

span.deleteicon input {
    padding-right: 16px;
    box-sizing: border-box;
}

#tour {
    margin-left: 5px;
}

#search {
    display: none;
    height: 35px;
    width: 35px;
    font-size: 25px;
    cursor: pointer;
    line-height: 35px;
    float: right;
}

#searchbarDiv {
    float: right;
    position: relative;
    top: 3px;
}

#searchCloseIcon {
    visibility: hidden;
}

#searchBar {
    width: 160px;
    font-size: 12pt;
}

#searchbarDiv i {
    position: relative;
    left: -16px;
    color: lightslategray;
    font-size: 16pt;
}

#searchCloseIcon {
    cursor: pointer;
    position: absolute;
}

#hiddenValues {
    display: inline-block;
    padding-right: 5px;
    line-height: 15px;
}