/* Styles for DrawDataInventoryProducts.js */ 

.action_addproduct{
    float: right;
    margin-top: 5px;
    margin-right: 5px;
    border: lightgray 2px solid;
    background-color: white;
    cursor: pointer;
    color: lightgray;
    padding: 12px 8px 4px 4px;
    border-radius: 6px;
    margin-bottom: 5px;

}

.action_addproduct .icon-plus-circle {
    color: lightgray;
    font-size: 28pt;
}

.action_noproduct{
    float: left;
    margin-top: 5px;
    margin-right: 5px;
    border: lightgray 2px solid;
    background-color: white;
    cursor: pointer;
    color: lightgray;
    padding: 12px 8px 4px 4px;
    border-radius: 6px;
    margin-bottom: 5px;

}

.action_noproduct .icon-minus-circle {
    color: lightgray;
    font-size: 28pt;
}

tr.data-inventory-existing-product {
    color: #006eaa;
    cursor: pointer;
    
}
div.modal-main-option>table {
    font-size: 14px !important;
}
tr.data-inventory-existing-product:hover {
    text-decoration: underline;
}

tr.data-inventory-existing-product.active {
    background-color:#D1FEB0;
}

div.modal-main-option {
    border: green 1px solid;
    font-size: 20px;
    padding: 12px 12px 12px 12px;
    border-radius: 6px;
    margin-bottom: 5px;
    cursor: pointer;
}
div.modal-main-option.active{
    background-color: #EFFFEF;
    border-width: 3px;
}
/* End Styles for DrawDataInventoryProducts.js */ 


table.elementDetail {
    width: 800px;
    display: inline-block;
    clear: both;
}

.baseSearch {
    width: 200px;
}

.errorCode {
    display: none;
}

#startSearchesDiv {
    width: 30%;
    float: right;
    text-align: center;
    vertical-align: center;
}

.foundation_container {
    overflow: auto;
}

.main_output {
    /* The existence of this div is coding laziness.. */
    overflow: hidden;
    position: relative;
}

.ds_main_panel {
    display: table-cell;
    
    background-color: white;
    border: 1px solid gray;
    min-height: 803px;
    
    padding-left: 8px;
    padding-right: 8px;
    /* position: absolute;
    width: 100%;
    margin-left: 321px;
    min-width: 800px;
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available; */
}

.ds_datasource_panel {
    width: 140px;
    /* display: inline-block; */
    display: table-cell;
    height: 100%;
}

.ds_datasource {
    height: 28px;
    width: 310px;
    border: 1px solid gray;
    display: none;
    z-index: 1;
}

.ds_datasource_active {
    background-color: #e2e2e2
}

.dashboard-panel {
    background-color: rgba(255, 255, 255, 0) !important;
}

.slidecontainer {
    width: 450px;
    /* Width of the outside container */
}

.input_eventtype_status {
    width: 450px;
    display: inline-block;
}

.input_eventtype_status>button.change-status {
    float: right;
}

.input_eventtype_status>button.reset {
    float: left;
}


/* The slider itself */

.slider {
    -webkit-appearance: none;
    /* Override default CSS styles */
    appearance: none;
    width: 450px;
    /* Full-width */
    height: 15px;
    /* Specified height */
    background: #d3d3d3;
    /* Grey background */
    outline: none;
}

.sliderStatus {
    padding-top: 8px;
    width: 450px;
    text-align: center;
}

.sliderDescription {
    padding-bottom: 8px;
    padding-top: 15px;
    width: 450px;
    text-align: center;
}


/* Mouse-over effects */


/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* Override default look */
    appearance: none;
    width: 25px;
    /* Set a specific slider handle width */
    height: 25px;
    /* Slider handle height */
    /*background: #4CAF50;*/
    border: black solid 2px;
    /* Green background */
    cursor: pointer;
    /* Cursor on hover */
}

.slider.selectedSlider::-webkit-slider-thumb {
    background: white;
}

.slider::-moz-range-thumb {
    width: 25px;
    /* Set a specific slider handle width */
    height: 25px;
    /* Slider handle height */
    /*background: #4CAF50;*/
    border: black solid 2px;
    /* Green background */
    cursor: pointer;
    /* Cursor on hover */
}

.slider.selectedSlider::-moz-range-thumb {
    background: white;
}

.ds_datasource_left.datasource_main {
    /*border-bottom-left-radius: 18px;*/
    border-top-left-radius: 18px;
    border-right: 0;
    padding-left: 10px;
}

.datasource_main {
    border: 1px solid gray;
    /*
    border: 1px dashed gray;
    margin-bottom: 3px;
    margin-top: 3px;
    */
    width: 310px;
    background-color: white;
}

.datasource_main h2 {
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 0;
    cursor: pointer;
}

.ds_datasource {
    border-bottom-left-radius: 18px;
    border-top-left-radius: 18px;
    padding-left: 10px;
    border-right: 0;
    margin-bottom: 3px;
}

.ds_datasource_right {
    border-bottom-right-radius: 18px;
    border-top-right-radius: 18px;
    padding-right: 5px;
    text-align: right;
    border-left: 0;
}

.ds_status {
    width: 24px;
    height: 100%;
    height: 18px;
    line-height: 18px;
    /* background-color: lightgray;*/
}

.ds_datasource_left .ds_status {
    float: left;
}

.ds_datasource_right .ds_status {
    float: right;
}

.ds_main {
    height: 100%;
    display: inline-block;
}

.ds_header h3 {
    overflow: hide;
    line-height: 12px;
    cursor: pointer;
}

.ds_dropdown {
    width: 20px;
    height: 60px;
    overflow: none;
    float: left;
    height: 100%;
    background-color: gray;
    vertical-align: middle;
    line-height: 60px;
    margin: 0;
    padding: 0;
    text-align: center;
}

.ds_dropdown i {
    font-size: 16pt;
    color: white;
}

.ds_lowermain {
    display: none;
}

.et_lowerMain {
    display: none;
}

.et_status {
    width: 60px;
    height: 100%;
    float: left;
    height: 63px;
    position: relative;
    /*  background-color: lightgray;*/
}

.et_select {
    width: 60px;
    height: 100%;
    float: left;
    height: 63px;
    background-color: white;
}

.df_eventtype {
    clear: both;
}

.et_main {
    margin-left: 85px;
}

.elementStatus {
    position: relative;
}

.ds_main h2 {
    margin-top: 2px;
    margin-top: 2px;
}