  #incident_overview .results-table tr.expanded-row .odd td, .results-table tr.expanded-content-row .odd {
    color: black !important;
  }
  
  #incident_overview .results-table tr.expanded-row .even td, .results-table tr.expanded-content-row .even td {
   color: black !important;
  }
  
  .vis-background {
    background-color: #31373e;
  }

.vis-label {
  color:#c1c1c1;
}
.detection_status_summary_panel {
 width: 50%;
}

.alert-info.icon-alert {
    font-size: 1.5em;
    width: 55px;
}

.icon-info-circle {
    position: relative;
    font-size: 1.5em;
    bottom: -2px;
    /* width: 65px; */
    cursor: pointer;
    /* height: 46px; */
    /* line-height: 24px; */
    margin-top: 0px;
    color: #00a4fd;
    /* margin-top: 5px; */
}

p.noteAlt
{
     background-image: url(images/css-box-icon-3.png);
     background-position: right;
     -moz-border-radius: 6px;
     -webkit-border-radius: 6px;
     background-color: #31373e;
     background-position: 9px 0px;
     background-repeat: no-repeat;
     border: solid 3px #3498db;
     border-radius: 6px;
     line-height: 45px;
     overflow: hidden;
     padding: 15px 60px;
}

.panel-help{
    float: right;
    width: 50px;
    height: 50px;
    padding: 10px;
}

#time_panel{
    width:30% !important;
}

#alerts_panel{
    width:70% !important;
}


/* tab bar  */
.datasource-tab {
  background-color: #3498DB;
  color: white;
  /* padding: 16px; */
  font-size: 22px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.datasource-tab:hover, .datasource-tab:focus, .datasource-tab:active {
  background-color: #2980B9;
}



/* Tooltip - from tooltip.css */
.tooltip-inner {
    max-width: 400px;
    text-align: right;
    font-size: 14px;
    font-weight: normal;
}


/* Global Colours - from theme.css */
.background-green-40 {
    background-color: #1EC963;
}

.noevents {
    display: inline-block;
    vertical-align: top;
    padding: 10px;
    border-radius: 25px;
    background-color: #818d99; /* Grey */
    margin: 60px 0 50px 10px;
}


/* Accordian Controls */
.accordion {
    background-color: #3498DB; /* Blue */
    /* color: #000; */
    cursor: pointer;
    padding: 12px;
    width: 100%;
    border: 1px;
    text-align: left;
    outline: none;
    font-size: 12px;
    transition: 0.4s;
    font-weight: bold;
}

.active, .accordion:hover {
    background-color: #2980B9; /* dark blue */
}

.accordian.panel {
    padding: 0 18px;
    display: none;
    background: linear-gradient(to bottom, #818d99, #818d99); */
    overflow: hidden;
}

/* Show Help Controls */
.help.table {
    /* background: linear-gradient(to bottom, white, #DCDCDC); */
    width: 100%;
    cellpadding: 30px;
}

/* Tabs Controls */

#tabs{
    border-bottom: 0px;
}

/*
#tabs > .dashboard-cell > .dashboard-panel{
    margin-bottom: 0px;
    border-bottom: 0px;
}
*/

#element1 > .html{
    padding-left: 0px; /* This fixes some weirdness where the first tab doesn't look right due to the left part of the tab showing */
    padding-right: 0px;
    padding-top: 0px;
}

#tab_1 > .dashboard-cell > .dashboard-panel{
    border-top: 0px;
}

.modal { display: none;
}

.hide_filters  {
    display: none;
 }

/* END */

.indent {
    text-indent: 20px;
}

/* Splunk Colours */
.splunk-primary-green {
    background-color: #65A637;
}

.splunk-primary-blue {
    background-color: #005F86;
}

.splunk-secondary-chartreuse {
    background-color: #CEDC00;
}


/* used in configuring dashboard - from container.css */
.container {
    width: 31%;
    display: inline-block;
    vertical-align: top;
}

.container.step1 {
    padding: 10px;
    border-radius: 25px;
    background-color: #229AD6;
    display: inline-block;
    vertical-align: top;
}

.container.step2 {
    padding: 10px;
    border-radius: 25px;
    background-color: #8585F2;
    display: inline-block;
    vertical-align: top;
}

.container.step3 {
    padding: 10px;
    border-radius: 25px;
    background-color: #0AA648;
    display: inline-block;
    vertical-align: top;
}

.steps {
  height: 125px;
  width: 125px;
  border-radius: 50%;
  display: inline-block;
}

.steps.step1 {
    background-color: #53BAED;
}

.steps.step2 {
    background-color: #A7A7FA;
}

.steps.step3 {
    background-color: #1EC963;
}


/* Custom Icons - from table_decorations.css - used in configuring dashboard*/

td.icon {
    text-align: center;
}

td.icon i {
    font-size: 25px;
    text-shadow: 1px 1px #aaa;
}

td.icon .severe {
    color: red;
}

td.icon .elevated {
    color: orangered;
}

td.icon .low {
    color: #006400;
}

/* Row Coloring */

#highlight tr td {
    background-color: #c1ffc3 !important;
}

#highlight tr.range-elevated td {
    background-color: #ffc57a !important;
}

#highlight tr.range-severe td {
    background-color: #d59392 !important;
}


#highlight .table td {
    border-top: 1px solid #fff;
}

#highlight td.range-severe, td.range-elevated {
    font-weight: bold;
}

.icon-inline i {
    font-size: 18px;
    margin-left: 5px;
}
.icon-inline i.icon-alert-circle {
    color: #ef392c;
}
.icon-inline i.icon-alert {
    color: #ff9c1a;
}
.icon-inline i.icon-check {
    color: #5fff5e;
}

/* Onboarding - from onboarding.css */
#level1_container {
    width: 90%;
}

.level1_light {
    padding: 10px;
    border-radius: 25px;
    background-color: #93cf95;
}

.level1_dark {
    display: inline-block;
    padding: 10px;
    border-radius: 25px;
    background-color: #6ec071;
    width: 23%;
    height: 230px;
    vertical-align: top;
}

.level2_container {
    width: 90%;
}

.level2_light {
    padding: 10px;
    border-radius: 25px;
    background-color: #77a3ca;
}

.level2_dark {
    display: inline-block;
    padding: 10px;
    border-radius: 25px;
    background-color: #5d92c0;
    width: 31%;
    height: 240px;
    vertical-align: top;

}

.level3_container {
    width: 90%;
}

.level3_light {
    padding: 10px;
    border-radius: 25px;
    background-color: #d8ae47;
}

.level3_dark {
    display: inline-block;
    padding: 10px;
    border-radius: 25px;
    background-color: #d3a42e;
    width: 31%;
    height: 240px;
    vertical-align: top;
}

#level4_container {
    padding-left: 90px;
    width: 80%;
}

#level4_light {
    padding: 10px;
    border-radius: 25px;
    background-color: #d4a6c8;
}

#level4_dark {
    padding: 10px;
    border-radius: 25px;
    background-color: #c689b6;
}

#level5_container {
    padding-left: 120px;
    width: 80%;
}

#level5_light {
    padding: 10px;
    border-radius: 25px;
    background-color: #6bc7be;
}

#level5_dark {
    padding: 10px;
    border-radius: 25px;
    background-color: #45b8ac;
}







/* home dashboard - bubbles */
.bubble {
  height: 125px;
  width: 125px;
  border-radius: 50%;
  display: inline-block;
}

.bubble.teal {
  background-color: #08827A;
}

.bubble.sky {
  background-color: #0C7BB3;
}

.bubble.green {
  background-color: #038537;
}

.bubble.slate {
  background-color: #48799C;
}

.bubble.indigo {
  background-color: #6767E6;
}

.bubble.dusk {
  background-color: #7A68B3;
}

.bubble.purple {
  background-color: #703CBD;
}

.bubble.magenta {
  background-color: #D6246E;
}


/* tutorials dashboard */
.holding {
    width: 90%;
    display: inline-block;
    vertical-align: top;
    padding: 10px; 
    border-radius: 25px;
}

.holding.sky-40 {
    background-color: #53BAED;

}

.holding.sky-30 {
    background-color: #8DD4F7;
}

.holding.sky-20 {
    background-color: #BBE5FA;
}

.holding.slate-40 {
    background-color: #84B7DB;
}

.holding.slate-30 {
    background-color: #A7CEEB;
}

.holding.slate-20 {
    background-color: #CBE3F5;
}

.holding.indigo-40 {
    background-color: #A7A7FA;
}

.holding.indigo-30 {
    background-color: #C2C2FC;
}

.holding.indigo-20 {
    background-color: #DCDCFC;
}

.holding.dusk-40 {
    background-color: #B5A6E3;
}

.holding.dusk-30 {
    background-color: #CEC2F0;
}

.holding.dusk-20 {
    background-color: #E3DCF7;
}

.holding.green-40 {
    background-color: #1EC963;
}

.holding.green-30 {
    background-color: #46E385;
}

.holding.green-20 {
    background-color: #8EF587;
}

/* Bootstrap Popover  */

.popover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1010;
    display: none;
    max-width: 500px;
    padding: 1px;
    text-align: left;
    white-space: normal;
    background-color: #9ba4a9; 
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

.popover.top {
    margin-top: -10px;
}

.popover.right {
    margin-left: 10px;
}

.popover.bottom {
    margin-top: 10px;
}

.popover.left {
    margin-left: -10px;
}

.popover-title {
    padding: 8px 14px;
    margin: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    background-color: #707475;
    border-bottom: 1px solid #ebebeb;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

.popover-title:empty {
    display: none;
}

.popover-content {
    padding: 9px 14px;
}

.popover .arrow,
.popover .arrow:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}

.popover .arrow {
    border-width: 11px;
}

.popover .arrow:after {
    border-width: 10px;
    content: "";
}

.popover.top .arrow {
    bottom: -11px;
    left: 50%;
    margin-left: -11px;
    border-top-color: #999;
    border-top-color: rgba(0, 0, 0, 0.25);
    border-bottom-width: 0;
}

.popover.top .arrow:after {
    bottom: 1px;
    margin-left: -10px;
    border-top-color: #ffffff;
    border-bottom-width: 0;
}

.popover.right .arrow {
    top: 50%;
    left: -11px;
    margin-top: -11px;
    border-right-color: #999;
    border-right-color: rgba(0, 0, 0, 0.25);
    border-left-width: 0;
}

.popover.right .arrow:after {
    bottom: -10px;
    left: 1px;
    border-right-color: #ffffff;
    border-left-width: 0;
}

.popover.bottom .arrow {
    top: -11px;
    left: 50%;
    margin-left: -11px;
    border-bottom-color: #999;
    border-bottom-color: rgba(0, 0, 0, 0.25);
    border-top-width: 0;
}

.popover.bottom .arrow:after {
    top: 1px;
    margin-left: -10px;
    border-bottom-color: #ffffff;
    border-top-width: 0;
}

.popover.left .arrow {
    top: 50%;
    right: -11px;
    margin-top: -11px;
    border-left-color: #999;
    border-left-color: rgba(0, 0, 0, 0.25);
    border-right-width: 0;
}

.popover.left .arrow:after {
    right: 1px;
    bottom: -10px;
    border-left-color: #ffffff;
    border-right-width: 0;
}


.panel-body {
min-height: 10px !important;
}

