input:read-only,textarea:read-only,select:read-only { 
  color: #00a4fd;
}


.modalContainer {
border: thin;
border-style: solid !important;
border-color: #5c6773;
margin: 10px;
  
}
.icon-check {
  color: #45a049;
}
.icon-x-circle {
  color: red;
}

.detect_search_col1 {
  display: block;
  width: 160px;
  float: left;
  text-align:right;
  margin-right:40px;
  line-height: 20px;
  margin-bottom: 5px;
  
  
}

.detect_search_col2 {
  display: block;
  width: 350px;
  float: right;
}

.dsi {
  width: 100%;
}

.detect_search_container {
  width: 650px;
  max-width:100%;
  display:block;
  box-sizing: border-box;
 
}

.detect_search_resize {
  min-height: 2em;
  resize: vertical;
}

input.field 
{
    margin-top: 5px;
    margin-bottom: 5px;
    height: 30px;
    width: 350px;
    font-size: 15px;
    font-family: Verdana;
    line-height: 30px;
    display:inline-block; 
    float: left;
}

label.label
{
    font-family: Verdana;
    font-size: 15px;
    line-height: 30px;
    display:inline-block;
    float: left;
}


/* Style inputs */
/*  input[type=input], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}*/

/* Style the submit button */
input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Add a background color to the submit button on mouse-over */
input[type=submit]:hover {
  background-color: #45a049;
}

#fieldcontainer {
    float: left;
}
