body {
    box-sizing: border-box;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    flex: 0 0 320px;
    background-color: white;
    margin: 5px;
    border: 2px solid #31373e;

}

.card-header {
    background-color: grey;
    border-bottom: 1px solid #31373e;
    padding:5px;
    height:40px;

}

.card-header h2 {
    margin-top: 0px;
}

.card-body {
    min-height:170px;
    overflow: auto;
    padding:5px;
    cursor: pointer;
}

.imported {
    border-left: 10px solid green;
    opacity: 0.3;
}

.footer {
   
   
}

.footer-tags {
    background-color: #1E90FF;
    border-radius: 4px;
    padding: 2px;
    margin: 2px 2px 2px 2px;
    position: relative;
    

}

#alert-tag {
    background-color: gray;
    border-radius: 4px;
    margin: 2px;
    padding: 2px;
}

#playbook-wrapper {
    border: 1px solid #5c6773;;
}

#playbook-description h2, #playbook-description p, #playbook-implement h2, #playbook-implement p  {
    padding: 0px 20px 0px 20px;  
}

#playbook-description {
    border-top: 1px solid #626262;
}

.playbook-inputs-flex {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 20px 10px 0px;

}

.playbook-flex-items {
    flex: 0 0 150px; 
    justify-content: space-between;
    margin-bottom: 0px;
    padding-top: 5px;
    margin-left: 20px

}

#already-imported {
    background-color: #e66465;
    border-radius: 2px;
    margin-left:10px;
    padding: 0px 5px 0px 5px;
}

#already-imported p {
    margin-bottom: 0px;
}

#info {
    padding: 5px;
}

#success-alert {
    background-color: #5cc05c;
}

#failure-alert {
    background-color: #e66465;
}

#error-handler {
    
}

#error-hander.show {
    
    color:white;
    display:block;
}

#import-splunk-search-textarea {
    width: 90%;
    margin-left:20px;
}
