/* Tooltip container */
.smfs_tooltip {
  position: relative;
  display: inline-block;
  
}

/* Tooltip text */
.smfs_tooltip .smfs_tooltiptext {
  visibility: hidden;
  width: 420px;
  background-color: #959ca3;
  color: #fff;
  text-align: left;
  padding: 5px 0;
  border-radius: 6px;
  font-size:smaller;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 100;
  opacity: 0;
  transition: opacity 1s;
}


/* Show the tooltip text when you mouse over the tooltip container */
.smfs_tooltip:hover .smfs_tooltiptext  {
  visibility: visible;
  opacity: 1;
}
