.container {
    width: 31%;
    display: inline-block;
    vertical-align: top;
}

.container.step1 {
    padding: 10px;
    border-radius: 25px;
    background-color: #229AD6;
    display: inline-block;
    vertical-align: top;
}

.container.step2 {
    padding: 10px;
    border-radius: 25px;
    background-color: #8585F2;
    display: inline-block;
    vertical-align: top;
}

.container.step3 {
    padding: 10px;
    border-radius: 25px;
    background-color: #0AA648;
    display: inline-block;
    vertical-align: top;
}

.steps {
  height: 125px;
  width: 125px;
  border-radius: 50%;
  display: inline-block;
}

.steps.step1 {
    background-color: #53BAED;
}

.steps.step2 {
    background-color: #A7A7FA;
}

.steps.step3 {
    background-color: #1EC963;
}
