
/* home dashboard - bubbles */
.bubble {
  height: 125px;
  width: 125px;
  border-radius: 50%;
  display: inline-block;
}

.bubble.teal {
  background-color: #08827A;
}

.bubble.sky {
  background-color: #0C7BB3;
}

.bubble.green {
  background-color: #038537;
}

.bubble.slate {
  background-color: #48799C;
}

.bubble.indigo {
  background-color: #6767E6;
}

.bubble.dusk {
  background-color: #7A68B3;
}

.bubble.purple {
  background-color: #703CBD;
}

.bubble.magenta {
  background-color: #D6246E;
}

