
/* Onboarding - from onboarding.css */
#level1_container {
    width: 90%;
}

.level1_light {
    padding: 10px;
    border-radius: 25px;
    background-color: #93cf95;
}

.level1_dark {
    display: inline-block;
    padding: 10px;
    border-radius: 25px;
    background-color: #6ec071;
    width: 23%;
    height: 230px;
    vertical-align: top;
}

.level2_container {
    width: 90%;
}

.level2_light {
    padding: 10px;
    border-radius: 25px;
    background-color: #77a3ca;
}

.level2_dark {
    display: inline-block;
    padding: 10px;
    border-radius: 25px;
    background-color: #5d92c0;
    width: 31%;
    height: 240px;
    vertical-align: top;

}

.level3_container {
    width: 90%;
}

.level3_light {
    padding: 10px;
    border-radius: 25px;
    background-color: #d8ae47;
}

.level3_dark {
    display: inline-block;
    padding: 10px;
    border-radius: 25px;
    background-color: #d3a42e;
    width: 31%;
    height: 240px;
    vertical-align: top;
}

#level4_container {
    padding-left: 90px;
    width: 80%;
}

#level4_light {
    padding: 10px;
    border-radius: 25px;
    background-color: #d4a6c8;
}

#level4_dark {
    padding: 10px;
    border-radius: 25px;
    background-color: #c689b6;
}

#level5_container {
    padding-left: 120px;
    width: 80%;
}

#level5_light {
    padding: 10px;
    border-radius: 25px;
    background-color: #6bc7be;
}

#level5_dark {
    padding: 10px;
    border-radius: 25px;
    background-color: #45b8ac;
}






