.background-green-40 {
    background-color: #1EC963;
}

.noevents {
    display: inline-block;
    vertical-align: top;
    padding: 10px;
    border-radius: 25px;
    background-color: #FA8E8E;
    margin: 60px 0 50px 10px;
}


/* Accordian Controls */
.accordion {
    background-color: #93cf95;
    color: #000;
    cursor: pointer;
    padding: 12px;
    width: 100%;
    border: 1px;
    text-align: left;
    outline: none;
    font-size: 12px;
    transition: 0.4s;
    font-weight: bold;
}

.active, .accordion:hover {
    background-color: #6ec071;
}

.accordian.panel {
    padding: 0 18px;
    display: none;
    /* background: linear-gradient(to bottom, white, #dbefdc); */
    overflow: hidden;
}

/* Show Help Controls */
.help.table {
    /* background: linear-gradient(to bottom, white, #DCDCDC); */
    width: 100%;
    cellpadding: 30px;
}

/* Tabs Controls */

#tabs{
    border-bottom: 0px;
}

#tabs > .dashboard-cell > .dashboard-panel{
    margin-bottom: 0px;
    border-bottom: 0px;
}

#element1 > .html{
    padding-left: 0px; /* This fixes some weirdness where the first tab doesn't look right due to the left part of the tab showing */
    padding-right: 0px;
    padding-top: 0px;
}

#tab_1 > .dashboard-cell > .dashboard-panel{
    border-top: 0px;
}

.modal { display: none;
}

.hide_filters  {
    display: none;
 }

/* END */

.indent {
    text-indent: 20px;
}

/* Splunk Colours */
.splunk-primary-green {
    background-color: #65A637;
}

.splunk-primary-blue {
    background-color: #005F86;
}

.splunk-secondary-chartreuse {
    background-color: #CEDC00;
}
