
/* tutorials dashboard */
.holding {
    width: 90%;
    display: inline-block;
    vertical-align: top;
    padding: 10px; 
    border-radius: 25px;
}

.holding.sky-40 {
    background-color: #53BAED;

}

.holding.sky-30 {
    background-color: #8DD4F7;
}

.holding.sky-20 {
    background-color: #BBE5FA;
}

.holding.slate-40 {
    background-color: #84B7DB;
}

.holding.slate-30 {
    background-color: #A7CEEB;
}

.holding.slate-20 {
    background-color: #CBE3F5;
}

.holding.indigo-40 {
    background-color: #A7A7FA;
}

.holding.indigo-30 {
    background-color: #C2C2FC;
}

.holding.indigo-20 {
    background-color: #DCDCFC;
}

.holding.dusk-40 {
    background-color: #B5A6E3;
}

.holding.dusk-30 {
    background-color: #CEC2F0;
}

.holding.dusk-20 {
    background-color: #E3DCF7;
}

.holding.green-40 {
    background-color: #1EC963;
}

.holding.green-30 {
    background-color: #46E385;
}

.holding.green-20 {
    background-color: #8EF587;
}
