<table class="help table">
          <td>
        <p class="p1">
              <h1>
                <strong>Communications Help</strong>
              </h1>
            </p>
        <p class="p1">The communications dashboard aims to monitor network traffic in your environment. You can click on any visualisation to drill into the raw events. Any table cells highlighlited in red, are fields that have not been extracted. Use the <a target="_blank" href="/app/security_monitoring_for_splunk/configuring">app configuration page</a> to make any adjustments to you need. </p>
        <p>Click on the tabs below to find out more about using each of the communications tabs.</p>
        <div id="accordian_div">
          <button class="accordion"> &gt; Firewall</button>
          <div class="accordian panel">
            <p class="p1">
                  <h2>
                    <strong>Firewall Tab</strong>
                  </h2>
            </p>
            <p>The firewall tab is designed to give you information about sending and receiving of network traffic to and from external sources, using what network protocols, and the relationships between them. All firewalls sending traffic information should report the required fields below.</p>
            <p/>
            <p class="p1">Most security incidents and breaches begin with making a connection through the firewall using ports and protocols that are permitted by default. (HTTP/HTTPs/DNS etc). Knowing who you have been communicating with, how and how much information you have sent or received is a vital piece of understanding your environment and for investigating incidents.</p>
            <p/>
	          <p>Use the âShow and Hide Filtersâ button to have your dashboard react to information you care about.</p>
	    
            <p>
                  <strong>The dashboards and their typical uses are listed below;</strong>
                </p>
            
            <p class="indent">
                  <b>Traffic Streams by action: </b>Look for Spikes or dips to spot any unusual activity based on previous history</p>
            <p class="indent">
                  <b>Traffic Stream Relationships: </b>Look for suspicious relationships between sending and receiving hosts, unusual port activity or identify other compromised hosts using relationships</p>
            <p class="indent">
                  <b>Traffic Streams Detail: </b>Use this panel to understand the specifics of every network communication sent and received over a time span. Click the right facing chevron to see a timeline of all data moved in that session</p>
            <p/>
            <p class="p1">
                  <strong>Typical Sources of Information</strong>:</p>
            <ul class="ul1">
            <li class="li1">Syslog either TCP or UDP.</li>
            </ul>
            <p class="p2"/>
            <p class="p1">
                  <strong>Required Fields</strong>
                </p>
            <p class="p3"/>
            <table border="1" cellpadding="10px">
              <tr>
                    <th>Splunk Field Name</th>
                    <th>Description</th>
                    <th>Example</th>
                  </tr>
              <tr>
                    <td>src_ip</td>
                    <td>Source IP address</td>
                    <td>192.168.1.200</td>
                  </tr>
              <tr>
                    <td>src_port</td>
                    <td>Source Port</td>
                    <td>53202</td>
                  </tr>
              <tr>
                    <td>dest_ip</td>
                    <td>Destination IP address</td>
                    <td>52.100.100.100</td>
                  </tr>
              <tr>
                    <td>dest_port</td>
                    <td>Destination Port</td>
                    <td>443</td>
                  </tr>
              <tr>
                    <td>action</td>
                    <td>Action taken by the firewall</td>
                    <td>"allowed", "blocked"</td>
                  </tr>
            </table>
            <p class="p2"/>
            <p/>
            <p>Extract more fields for <a target="_blank" href="/app/security_monitoring_for_splunk/search?q=search%20eventtype%3Dfirewall_events">Firewall Events</a> or look at the <a target="_blank" href="/app/security_monitoring_for_splunk/tutorials">tutorials page</a> to find out how.</p>
            <p/>
          </div>
          <button class="accordion"> &gt; Email</button>
           <div class="accordian panel">
            <p class="p1">
                  <h2>
                    <strong>Email Tab</strong>
                  </h2>
                </p>
            <p class="p3"/>
            <p>The email tab is designed to give you information about sending and receiving of emails, by whom and to whom, and the relationships between them. Some mail systems will not have all of the fields below, but thats OK. Just extract the information you have.</p>
            <p/>
            <p class="p1">Most security incidents and breaches begin with a phishing attack to one or more users, and being able to monitor flow of email along with attachment name and file size will greatly speed up your capability to respond effectively to attempted or confirmed attacks.</p>
            <p/>
            <p>
                  <strong>The dashboards are their typical uses are listed below;</strong>
                </p>
            
            <p class="indent">
                  <b>Email Volume by sourcetype: </b>Look for Spikes or dips to spot any unusual activity based on previous history</p>
            <p class="indent">
                  <b>Email Flow Relationships: </b>Look for suspicious senders, or subjects and understand who else or how many others have also received the same email</p>
            <p class="indent">
                  <b>Detailed Email Tracking: </b>Use this panel to understand the specifics of every email sent and received over a time span</p>
            <p/>
            <p class="p1">
                  <strong>Typical Sources of Information:</strong>
            </p>
            <p class="p2"/>
            <ul class="ul2">
            <li class="li1 indent">Exchange Debug Logs</li>
            <li class="li1 indent">Email Proxy Filters</li>
            <li class="li1 indent">Splunk Stream</li>
            </ul>
            <p class="p3"/>
            <p class="p1">
                  <strong>Required Fields</strong>
                </p>
            <p class="p2"/>
            <table border="1" cellpadding="10px">
              <th>Splunk Field Name</th>
                  <th>Description</th>
                  <th>Example</th>
              <tr>
                    <td>recipient</td>
                    <td>Recipient of the Email</td>
                    <td>fred@wackyraces.com</td>
                  </tr>
              <tr>
                    <td>src_user</td>
                    <td>Sender of the email</td>
                    <td>wilma@goingmad.com</td>
                  </tr>
              <tr>
                    <td>subject</td>
                    <td>Subject</td>
                    <td>Your Late Home</td>
                  </tr>
              <tr>
                    <td>file_name</td>
                    <td>Name of file attachment(s) if available</td>
                    <td>rulez.doc</td>
                  </tr>
              <tr>
                    <td>file_size</td>
                    <td>Size of attachment(s) if available</td>
                    <td>100</td>
                  </tr>
            </table>
            <p/>
            <p>Extract more fields for <a target="_blank" href="/app/security_monitoring_for_splunk/search?q=search%20eventtype%3Demail_events">Email Events</a> or look at the <a target="_blank" href="/app/security_monitoring_for_splunk/tutorials">tutorials page</a> to find out how.</p>
            <p/>
            
          </div>
          <button class="accordion"> &gt; Web Proxy</button>
           <div class="accordian panel">
            <p class="p1"/>
            <p class="p1">
                  <strong>Web Proxy Tab</strong>
                </p>
            <p class="p2"/>
            <p class="p1">Flows of Web traffic are extremely useful to understand usage, trends and categories of web viewing. But more importantly may help to identify how an organisation may have been attacked from compromised external web sites, identifying attackers infrastructure, understanding the tools being employed against us or identifying internal employee behaviour (with bad intent or otherwise).</p>
            <p class="p2">Filter on time, reporting web proxy, user, http response code, http method and url. This is particularly useful when trying to determined the source of malicious traffic to adversary controlled infrastructure.</p>
            <p/>
            <p>
                  <strong>The dashboards are their typical uses are listed below;</strong>
                </p>
            
            <p class="indent">
                  <b>Web activity by user: </b>Look for spikes or dips to spot any unusual activity based on previous history</p>
            <p class="indent">
                  <b>Web Traffic Relationships: </b>Look for suspicious relationships between user, uri path and external web site</p>
            <p class="indent">
                  <b>Detailed Web Traffic: </b>Use this panel to understand the specifics of every connection sent and received through the web proxy over a time span</p>
            <p/>
            <p class="p2"/>
            <p class="p1">
                  <strong>Typical Sources of Information:</strong>
                </p>
            <p class="p3"/>
            <ul class="ul1">
            <li class="li1">Web Proxies</li>
            <li class="li1">Splunk stream</li>
            </ul>
            <p class="p3"/>
            <p class="p1">
                  <strong>Required Fields</strong>
                </p>
            <p class="p2"/>
            <table border="1" cellpadding="10px">
              <th>Splunk Field Name</th>
                  <th>Description</th>
                  <th>Example</th>
              <tr>
                    <td>src_ip</td>
                    <td>Source IP</td>
                    <td>192.168.100.100</td>
                  </tr>
              <tr>
                    <td>http_user_agent</td>
                    <td>User Agent String</td>
                    <td>Mozilla/5.0 (iPad; U; CPU OS 3_2_1 like Mac OS X; en-us) AppleWebKit/531.21.10 (KHTML, like Gecko) Mobile/7B405</td>
                  </tr>
              <tr>
                    <td>url</td>
                    <td>Visited Web Address</td>
                    <td>www.hackerforums.net</td>
                  </tr>
              <tr>
                    <td>user</td>
                    <td>User visiting the website</td>
                    <td>fred</td>
                  </tr>
              <tr>
                    <td>http_method</td>
                    <td>Request Method</td>
                    <td>GET, POST</td>
                  </tr>
              <tr>
                    <td>status</td>
                    <td>Status Code</td>
                    <td>200</td>
                  </tr>
	      <tr>
                    <td>http_content_type</td>
                    <td>Type of content loaded</td>
                    <td>text/html application/octet</td>
                  </tr>
            </table>
            <p/>
             <p class="p2"/>
            <p/>
            <p>Extract more fields for <a target="_blank" href="/app/security_monitoring_for_splunk/search?q=search%20eventtype%3Dweb_traffic_events">Web Proxy Events</a> or look at the <a target="_blank" href="/app/security_monitoring_for_splunk/tutorials">tutorials page</a> to find out how.</p>
            <p/>
          </div>
          <button class="accordion"> &gt; DNS</button>
           <div class="accordian panel">
             <p/>
            <p class="p1">
                  <strong>DNS Tab</strong>
                </p>
            <p class="p2"/>
            <p class="p1">DNS query logs are one of, if not the richest source of information when hunting for badness in your network. Communications internal and external mostly rely on DNS to lookup IP addresses of the hosts they need to connect with, making it a single source of truth.</p>
            <p class="p3"/>
            <p class="p1">Ingesting this data source provides an organisation with the ability to track user communications, bad actor infrastructure, detect malware that has gone undetected by anti-virus solutions and much more.</p>
            <p>
                  <strong>The dashboards are their typical uses are listed below;</strong>
                </p>
            
            <p class="indent">
                  <b>DNS Traffic by Record Type: </b>Look for spikes or dips to spot any unusual activity based on previous history</p>
            <p class="indent">
                  <b>Detailed DNS Traffic: </b>Use this panel to understand the specifics of every DNS connection sent and received over a time span</p>
            <p/>
            <p class="p1">
                  <strong>Typical Sources:</strong>
                </p>
            <p class="p3"/>
            <ul class="ul1">
            <li class="li1">Windows DNS Query logs</li>
            <li class="li1">Bro DNS</li>
            <li class="li1">Splunk Stream</li>
            </ul>
            <p class="p3"/>
            <p class="p1">
                  <strong>Required Fields:</strong>
                </p>
            <p class="p2"/>
            <table border="1" cellpadding="10px">
              <th>Splunk Field Name</th>
                  <th>Description</th>
                  <th>Example</th>
              <tr>
                    <td>src_ip</td>
                    <td>Source IP</td>
                    <td>192.168.100.100</td>
                  </tr>
              <tr>
                    <td>query</td>
                    <td>Web Address Queried</td>
                    <td>www.bbc.co.uk</td>
                  </tr>
              <tr>
                    <td>query_type</td>
                    <td>Request Type</td>
                    <td>A,AAAA,MX,CNAME</td>
                  </tr>
            </table>
            <p/>
             <p/>
            <p>Extract more fields for <a target="_blank" href="/app/security_monitoring_for_splunk/search?q=search%20eventtype%3Ddns_events">DNS Events</a> or look at the <a target="_blank" href="/app/security_monitoring_for_splunk/tutorials">tutorials page</a> to find out how.</p>
            <p/>
          </div>
          <button class="accordion"> &gt; DHCP</button>
           <div class="accordian panel">
             <p/>
            <p class="p1">
                  <strong>DHCP Tab</strong>
                </p>
            <p class="p2"/>
            <p class="p1">DHCP Information provides you with a way to attribute traffic you see in logs that only provide an IP address, with an actual end host, either by NetBios name or by MAC address. Being able to generate this level of attribution is key to being able to build a timeline of events with triaging incidents, but also in other areas such as building or verifying asset inventories, detecting new devices or unused devices.</p>
            <p class="p2"/>
            <p class="p1">
                  <strong>Typical Sources of information:</strong>
                </p>
            <p class="p3"/>
            <ul class="ul1">
            <li class="li1">Windows DHCP</li>
            <li class="li1">BIND Logs</li>
            </ul>
            <p class="p3"/>
            <p class="p1">
                  <strong>Required Fields:</strong>
                </p>
            <p class="p2"/>
            <table border="1" cellpadding="10px">
              <th>Splunk Field Name</th>
                  <th>Description</th>
                  <th>Example</th>
              <tr>
                    <td>dest_nt_host</td>
                    <td>NT Hostname requesting a DHCP address</td>
                    <td>WIN-HOST1</td>
                  </tr>
              <tr>
                    <td>dest_mac</td>
                    <td>Mac Address of the requesting host</td>
                    <td>00:50:56:c0:00:01</td>
                  </tr>
	      <tr>
                    <td>dest_ip</td>
                    <td>IP address assigned to the client</td>
                    <td>192.168.200.10</td>
                  </tr>
            </table>
            <p class="p3"/>
            <p>Extract more fields for <a target="_blank" href="/app/security_monitoring_for_splunk/search?q=search%20eventtype%3Ddhcp_events">DHCP Events</a> or look at the <a target="_blank" href="/app/security_monitoring_for_splunk/tutorials">tutorials page</a> to find out how.</p>
            <p/>
          </div>
         </div>
       </td>
        </table>
