<table class="help table">
    <td>
        <p class="p1">
              <h1>
                <strong>Endpoint Monitoring Help</strong>
              </h1>
            </p>
        <p class="p1">The endpoint monitoring dashboard aims to monitor information typically found on client and server devices. You can click on any visualisation to drill into the raw events. Any table cells highlighted in red are fields that have not been extracted. Use the <a target="_blank" href="/app/security_monitoring_for_splunk/configuring">app configuration page</a> to make any adjustments you may need fields. </p>
        <p>Click on the tabs below to find out more about using each of the user monitoring tabs.</p>
        <div id="accordian_div">
          <button class="accordion"> &gt; Malware</button>
          <div class="accordian panel">
            <p class="p1">
                  <h2>
                    <strong>Malware Tab</strong>
                  </h2>
            </p>
            <p>The malware tab is designed to give you information about what known malicious software is spotted in your network, where is has impacted and what relationships exist. 
            </p>
            <p>Malware solutions are a traditional form of defense, and is a good base for spotting broad well known bad files.</p>
            <p/>
            <p class="p1"></p>
            <p/>
	    <p>Use the "Show and Hide Filters" button to have your dashboard react to information you care about.</p>
	    
            <p><strong>The dashboards and their typical uses are listed below;</strong></p>
            
            <p class="indent"><b>Malware Activity by Destination: </b>Look for Spikes or dips to spot any unusual activity based on previous history</p>
            <p class="indent"><b>Malware Relationships: </b>Use this to discover relationships between infected hosts, or signatures</p>
            <p class="indent"><b>Malware Detailed Activity: </b>Use this panel to understand the specifics of every malware event over a time span.</p>
            <p/>
            <p class="p1">
                  <strong>Typical Sources of Information</strong>:</p>
            <ul class="ul1">
            <li class="li1">Centralised Anti-Virus Server, or client endpoint logs. </li>
            </ul>
            <p class="p2"/>
            <p class="p1">
                  <strong>Required Fields</strong>
                </p>
            <p class="p3"/>
            <table border="1" cellpadding="10px">
              <tr>
                    <th>Splunk Field Name</th>
                    <th>Description</th>
                    <th>Example</th>
                  </tr>
              <tr>
                    <td>dest</td>
                    <td>The System that has been infected</td>
                    <td>win_dc_01</td>
                  </tr>
              <tr>
                    <td>signature</td>
                    <td>The name given to the malicious software</td>
                    <td>A97M.Poison, AvA.600</td>
                  </tr>
              <tr>
                    <td>action</td>
                    <td>Indicates the action taken by the Anti-Virus Engine</td>
                    <td>"blocked", "quarantined"</td>
                  </tr>
            </table>
            <p class="p2"/>
            <p/>
            <p>Extract more fields for <a target="_blank" href="/app/security_monitoring_for_splunk/search?q=search%20eventtype%3Dmalware_events">Malware Events</a> or look at the <a target="_blank" href="/app/security_monitoring_for_splunk/tutorials">tutorials page</a> to find out how.</p>
            <p></p>
        </div>
          <button class="accordion"> &gt; Host Intrusion</button>
           <div class="accordian panel">
            <p class="p1">
                  <h2 id="intrusion">
                    <strong>Host Intrusion Tab</strong>
                  </h2>
                </p>
            <p class="p3"/>
            <p>The host intrusion tab is designed to give you information from endpoint detection and response systems, or intelligent anti-virus solutions. 
            <p/>
            <p class="p1">These types of systems can often alert you to (and sometimes block), attackers currently attempting to execute exploits either locally or remotely.</p>
            <p/>
            <p><strong>The dashboards are their typical uses are listed below;</strong></p>
            
            <p class="indent"><b>Host Intrusion Activity by Host: </b>Look for Spikes or dips to spot any unusual activity based on previous history</p>
            <p class="indent"><b>Intrusion Detection Relationships: </b>Discover relationships between attack signatures and the hosts they are executed or attempted on</p>
            <p class="indent"><b>Detailed Intrusion Detection Activity: </b>Use this panel to understand the specifics of every host intrusion attempt over a time span</p>
            <p/>
            <p class="p1">
                  <strong>Typical Sources of Information:</strong>
            </p>
            <p class="p2"/>
            <ul class="ul2">
            <li class="li1 indent">Anti-Virus Solutions with endpoint protection (Symantec, Sophos etc)</li>
            <li class="li1 indent">Endpoint Detection and Response (EDR) solutions (Carbon Black, CrowdStrike, Cylance etc)</li>
            </ul>
            <p class="p3"/>
            <p class="p1">
                  <strong>Required Fields</strong>
                </p>
            <p class="p2"/>
            <table border="1" cellpadding="10px">
              <th>Splunk Field Name</th>
                  <th>Description</th>
                  <th>Example</th>
	      <tr>
                    <td>src_ip</td>
                    <td>If present the IP address of the attacking host (not always available)</td>
                    <td>5.42.34.34</td>
                  </tr>
	      <tr>
                    <td>dest_port</td>
                    <td>If present the destination port on the targeted host (not always available)</td>
                    <td>23</td>
                  </tr>

              <tr>
                    <td>dest</td>
                    <td>The device name (or IP address) that has been affected</td>
                    <td>Win-002-LP</td>
                  </tr>
              <tr>
                    <td>severity</td>
                    <td>The severity applied by the vendor product</td>
                    <td>critical,high</td>
                  </tr>
              <tr>
                    <td>signature</td>
                    <td>The name given to the attempted attack</td>
                    <td>Trojan Back Door Activity</td>
                  </tr>
              <tr>
                    <td>action</td>
                    <td>Whether the action failed or succeeded</td>
                    <td>"success", "failure"</td>
                  </tr>
            </table>
            <p></p>
            <p>Extract more fields for <a target="_blank" href="/app/security_monitoring_for_splunk/search?q=search%20eventtype%3Dendpoint_ids_events">Endpoint IDS Events</a> or look at the <a target="_blank" href="/app/security_monitoring_for_splunk/tutorials">tutorials page</a> to find out how.</p>
            <p></p>
            
          </div>
          <button class="accordion"> &gt; Process Execution</button>
           <div class="accordian panel">
            <p class="p1"/>
            <p class="p1">
                  <strong>Process Execution Tab</strong>
                </p>
            <p class="p2"/>
            <p class="p1">Process Execution is front and centre when determining the source application of network traffic, or identifying unauthorised, malicious or masquerading processes.</p>
            <p class="p2">Filter this dashboard looking for unusual process directories, parent processes or command line activities.</p>
            <p/>
            <p><strong>The dashboards are their typical uses are listed below;</strong></p>
            
            <p class="indent"><b>Process Activity by Process Name: </b>Look for spikes or dips to spot any unusual activity based on previous history</p>
            <p class="indent"><b>Process Relationships: </b>Look for suspicious relationships between child processes, directories and command line arguments</p>
            <p class="indent"><b>Detailed Process Tracking: </b>Use this panel to understand the specifics of every process execution over a time span</p>
            <p/>
            <p class="p2"/>
            <p class="p1">
                  <strong>Typical Sources of Information:</strong>
                </p>
            <p class="p3"/>
            <ul class="ul1">
            <li class="li1">Client Windows Security Log (WinEventLog:Security)</li>
            <li class="li1">Client Sysmon Events</li>
            </ul>
            <p class="p3"/>
            <p class="p1">
                  <strong>Required Fields</strong>
                </p>
            <p class="p2"/>
            <table border="1" cellpadding="10px">
              <th>Splunk Field Name</th>
              <th>Description</th>
              <th>Example</th>
              <tr>
                    <td>parent_process</td>
                    <td>Parent Process that began the executing process (either process name or PID)</td>
                    <td>c:\Windows\System32\svchost.exe OR 2816</td>
                  </tr>
              <tr>
                    <td>process_id</td>
                    <td>Process ID (PID) or the executing process</td>
                    <td>2817</td>
                  </tr>
              <tr>
                    <td>process_name</td>
                    <td>The text name of the process that is running</td>
                    <td>PsExec.exe</td>
                  </tr>
              <tr>
                    <td>command_line</td>
                    <td>Any arguments that have been passed to the process</td>
                    <td>c:\windows\sysWOW64\cmd.exe</td>
                  </tr>
	</td>
        </table>
<p class="p2"/>
                <p/>
                <p>Extract more fields for <a target="_blank" href="/app/security_monitoring_for_splunk/search?q=search%20eventtype%3Dprocesses_events">Process Events</a> or look at the <a target="_blank" href="/app/security_monitoring_for_splunk/tutorials">tutorials page</a> to find out how.</p>
                <p></p>
           </div>
           <button class="accordion"> &gt; Vulnerabilities</button>
           <div class="accordian panel">
            <p class="p1">
                  <h2>
                    <strong>Vulnerabilities Tab</strong>
                  </h2>
            </p>
            <p class="p3"/>
            <p>The vulnerabilities tab allows you to visualise outstanding vulnerabilities, so that you may prioritise patching efforts by hosts, criticality etc.
            <p/>
            <p class="p1">Use this information to understand if it is feasible for attackers to exploit machines with certain vulnerabilities, and correlate with attempted intrusion information to gain situational awareness.</p>
            <p/>
            <p><strong>The dashboards are their typical uses are listed below;</strong></p>
            
            <p class="indent"><b>Vulnerability Activity by Signature: </b>Look for Spikes or dips to spot new and emerging vulnerabilities</p>
            <p class="indent"><b>Vulnerability Relationships: </b>Discover relationships hosts, vulnerabilities and criticality</p>
            <p class="indent"><b>Detailed Vulnerability Tracking: </b>Use this panel to understand exactly what vulnerabilities exist for individual hosts</p>
            <p/>
            <p class="p1">
                  <strong>Typical Sources of Information:</strong>
            </p>
            <p class="p2"/>
            <ul class="ul2">
            <li class="li1 indent">Vulnerability Scanners (Nessus, Rapid7 etc)</li>
            </ul>
            <p class="p3"/>
            <p class="p1">
                  <strong>Required Fields</strong>
                </p>
            <p class="p2"/>
            <table border="1" cellpadding="10px">
              <th>Splunk Field Name</th>
                  <th>Description</th>
                  <th>Example</th>
	      <tr>
                    <td>dest</td>
                    <td>The host name or IP address of the vulnerable host</td>
                    <td>WIN-002-LPT OR 10.10.10.10</td>
                  </tr>
	      <tr>
                    <td>signature</td>
                    <td>The name of the vulnerability</td>
                    <td>SMB LanMan Pipe Server browse listing</td>
                  </tr>

              <tr>
                    <td>cvss</td>
                    <td>The common vulnerability score</td>
                    <td>6</td>
                  </tr>
              <tr>
                    <td>cve</td>
                    <td>The unique ID given to each publically known vulnerability</td>
                    <td>CVE-2018-3847</td>
                  </tr>
              <tr>
                    <td>mskb</td>
                    <td>Microsoft Knowledge Base Number (if present)</td>
                    <td>KB2919355</td>
                  </tr>
              
            </table>
            <p></p>
            <p>Extract more fields for <a target="_blank" href="/app/security_monitoring_for_splunk/search?q=search%20eventtype%3Dhost_vulnerability_events">Vulnerability Events</a> or look at the <a target="_blank" href="/app/security_monitoring_for_splunk/tutorials">tutorials page</a> to find out how.</p>
            <p></p>
            
          </div>
          <button class="accordion"> &gt; Plug and Play</button>
           <div class="accordian panel">
            <p class="p1">
                  <h2>
                    <strong>Plug and Play Tab</strong>
                  </h2>
            </p>
            <p class="p3"/>
            <p>The plug and tab allows you to visualise instances of removable hardware used on a specific computer.
            <p/>
            <p class="p1">Use this information to understand what devices may have been used previously.</p>
            <p/>
            <p><strong>The dashboards are their typical uses are listed below;</strong></p>
            
            <p class="indent"><b>PnP Activity by Dest: </b>Look for Spikes from new hosts not expected to use external devices</p>
            <p class="indent"><b>PnP Relationships: </b>Discover relationships between hosts and device_uuids</p>
            <p class="indent"><b>Detailed PnP Activity: </b>Use this panel to understand all connectivity of external hardware and associated global UUIDs</p>
            <p/>
            <p class="p1">
                  <strong>Typical Sources of Information:</strong>
            </p>
            <p class="p2"/>
            <ul class="ul2">
            <li class="li1 indent">Windows Registry Keys</li>
            <li class="li1 indent">Windows Event Logs (if audited)</li>
            <li class="li1 indent">Endpoint Protection Technologies (Sophos, Symantec etc)</li>
            </ul>
            <p class="p3"/>
            <p class="p1">
                  <strong>Required Fields</strong>
                </p>
            <p class="p2"/>
            <table border="1" cellpadding="10px">
              <th>Splunk Field Name</th>
                  <th>Description</th>
                  <th>Example</th>
	      <tr>
                    <td>dest</td>
                    <td>The host name or IP address of the host</td>
                    <td>WIN-002-LPT OR 10.10.10.10</td>
                  </tr>
	      <tr>
                    <td>user</td>
                    <td>The user that connected the device</td>
                    <td>fred.flintstone</td>
                  </tr>

              <tr>
                    <td>device_id</td>
                    <td>The manufacturer name and model (if present)</td>
                    <td>USBSTOR\samsung_flash_8.07</td>
                  </tr>
              <tr>
                    <td>device_uuid</td>
                    <td>The unique ID given to every removable device</td>
                    <td>123e4567-e89b-12d3-a456-426655440000</td>
                  </tr>
              <tr>
                    <td>action</td>
                    <td>The action taken by the reporting host or software</td>
                    <td>Alert Only, Blocked</td>
                  </tr>
              
            </table>
            <p></p>
            <p>Extract more fields for <a target="_blank" href="/app/security_monitoring_for_splunk/search?q=search%20eventtype%3Dpnp_events">Plug and Play Events</a> or look at the <a target="_blank" href="/app/security_monitoring_for_splunk/tutorials">tutorials page</a> to find out how.</p>
            <p></p>
            
          </div>


</table>
