<table class="help table">
          <td>
        <p class="p1">
              <h1>
                <strong>User Monitoring Help</strong>
              </h1>
            </p>
        <p class="p1">The user monitoring dashboard aims to monitor user centric information. You can click on any visualisation to drill into the raw events. Any table cells highlighted in red are fields that have not been extracted. Use the <a target="_blank" href="/app/security_monitoring_for_splunk/configuring">app configuration page</a> to make any adjustments to you may need to fields. </p>
        <p>Click on the tabs below to find out more about using each of the user monitoring tabs.</p>
        <div id="accordian_div">
          <button class="accordion"> &gt; System Access</button>
          <div class="accordian panel">
            <p class="p1">
                  <h2>
                    <strong>System Access Tab</strong>
                  </h2>
            </p>
            <p>The system access tab is designed to give you information about who is accessing what systems and when. If you are monitoring windows data, make sure you have the <a target="_blank" href="https://splunkbase.splunk.com/app/742/">Windows Technology Add-on</a> installed on your indexer (and search head if you have a distributed environment)</a>
            </p>
            <p>Attackers and their malicious software must run as an authorised user on your network. Closely monitor access patterns to discover unusal activity.</p>
            <p/>
            <p class="p1"></p>
            <p/>
	    <p>Use the "Show and Hide Filters" button to have your dashboard react to information you care about.</p>
	    
            <p><strong>The dashboards and their typical uses are listed below;</strong></p>
            
            <p class="indent"><b>System Access by action: </b>Look for Spikes or dips to spot any unusual activity based on previous history</p>
            <p class="indent"><b>System Access Relationships: </b>Look for suspicious relationships between users and the resources you expect them to logon to</p>
            <p class="indent"><b>System Access Detailed Activity: </b>Use this panel to understand the specifics of every system access over a time span.</p>
            <p/>
            <p><b>Windows Audit Policy</b></p>
            <p class="indent">This tab relies on windows EventCode 4624 (logon) and 4625 (logoff) being present in windows security logs. The "Account Logon" policy object must be configed for "success" and "failure". <br/>See <a target="_blank" href="https://docs.microsoft.com/en-us/windows-server/identity/ad-ds/plan/security-best-practices/audit-policy-recommendations">Microsoft security best practice guide</a> for more information.</p>
            
            <p class="p1">
                  <strong>Typical Sources of Information</strong>:</p>
            <ul class="ul1">
            <li class="li1">Windows Security Eventlog from Domain Controllers and Endpoints. </li>
            </ul>
            <p class="p2"/>
            <p class="p1">
                  <strong>Required Fields</strong>
                </p>
            <p class="p3"/>
            <table border="1" cellpadding="10px">
              <tr>
                    <th>Splunk Field Name</th>
                    <th>Description</th>
                    <th>Example</th>
                  </tr>
              <tr>
                    <td>src_ip</td>
                    <td>Source IP address</td>
                    <td>192.168.1.200</td>
                  </tr>
              <tr>
                    <td>dest</td>
                    <td>The System that has been accessed</td>
                    <td>win_dc_01</td>
                  </tr>
              <tr>
                    <td>src_user</td>
                    <td>In privilege escalation events, the unprivileged user</td>
                    <td>wilma</td>
                  </tr>
              <tr>
              <tr>
                    <td>user</td>
                    <td>The user name that made the access</td>
                    <td>wilma-admin</td>
                  </tr>
              
                    <td>action</td>
                    <td>Indicates if access was granted or not</td>
                    <td>"success", "failure"</td>
                  </tr>
              <tr>
                <td>src_ip</td>
                <td>The source ip adress of the logon event</td>
                <td>192.168.10.10</td>
              </tr>
	      <tr>
                <td>logon_type</td>
                <td>Numeric field found in Windows Authentication Events</td>
                <td>3</td>
              </tr>
            </table>
            <p class="p2"/>
            <p/>
            <p>Extract more fields for <a target="_blank" href="/app/security_monitoring_for_splunk/search?q=search%20eventtype%3Dwindows_security_events">Windows Security Events</a> or look at the <a target="_blank" href="/app/security_monitoring_for_splunk/tutorials">tutorials page</a> to find out how.</p>
            <p></p>
          </div>
          <button class="accordion"> &gt; Authorisation</button>
           <div class="accordian panel">
            <p class="p1">
                  <h2>
                    <strong>Authorisation Tab</strong>
                  </h2>
                </p>
            <p class="p3"/>
            <p>The Authorisation tab is designed to give you information about authorisation changes, such as account lockouts, password resets and changes to privileges. Make sure you have the <a target="_blank" href="https://splunkbase.splunk.com/app/742/">Splunk Technology Add-on</a> installed on your indexer (and search head if you have a distributed environment)</p>
            <p/>
            <p class="p1">A tactic often used in breaches is to enable previously disabled accounts, reset passwords, add privilege to existing, or new create accounts and almost immediately delete them after use. Ensure this type of behaviour on your network has been authorised and understood.</p>
            <p/>
            <p><b>Windows Audit Policy</b></p>
            <p class="indent">This tab relies on windows EventCode=4720,4722,4725,4726,4738,4740 and 4767. To ensure you see these events, make sure Auditing for account management is configured for "success" and "failure". See <a href="https://docs.microsoft.com/en-us/windows-server/identity/ad-ds/plan/security-best-practices/audit-policy-recommendations">Windows Auditing Recomendations</a> for further information.</p> 
            
            <p><strong>The dashboards are their typical uses are listed below;</strong></p>
            
            <p class="indent"><b>Authorisation Activity by Action: </b>Look for Spikes or dips to spot any unusual activity based on previous history</p>
            <p class="indent"><b>Authorisation Relationships: </b>Look for suspicious activity based on the executing user, host and change type</p>
            <p class="indent"><b>Detailed Authorisation Tracking: </b>Use this panel to understand the specifics of every authorisation change over a time span</p>
            <p/>
            <p class="p1">
                  <strong>Typical Sources of Information:</strong>
            </p>
            <p class="p2"/>
            <ul class="ul2">
            <li class="li1 indent">Windows Security Logs</li>
            <li class="li1 indent">Windows System Logs</li>
            </ul>
            <p class="p3"/>
            <p class="p1">
                  <strong>Required Fields</strong>
                </p>
            <p class="p2"/>
            <table border="1" cellpadding="10px">
              <th>Splunk Field Name</th>
                  <th>Description</th>
                  <th>Example</th>
              <tr>
                    <td>user</td>
                    <td>The user account that has been affected</td>
                    <td>fred.flintstone</td>
                  </tr>
              <tr>
                    <td>src_user</td>
                    <td>The admin user making the change</td>
                    <td>administrator@goingmad.com</td>
                  </tr>
              <tr>
                    <td>signature</td>
                    <td>A Text description of the change event</td>
                    <td>A New User Account was Created</td>
                  </tr>
              <tr>
                    <td>action</td>
                    <td>Whether the action failed or succeeded</td>
                    <td>"success", "failure"</td>
                  </tr>
            </table>
            <p></p>
            <p>Extract more fields for <a target="_blank" href="/app/security_monitoring_for_splunk/search?q=search%20eventtype%3Dwindows_security_events">Windows Security Events</a> or look at the <a target="_blank" href="/app/security_monitoring_for_splunk/tutorials">tutorials page</a> to find out how.</p>
            <p></p>
            
          </div>
          <button class="accordion"> &gt; Group Changes</button>
           <div class="accordian panel">
            <p class="p1"/>
            <p class="p1">
                  <strong>Group Changes Tab</strong>
                </p>
            <p class="p2"/>
            <p class="p1">Having situational awareness of changes (temporary or otherwise) to group permissions allows you spot operational policy issues, and in certain instances malicious activity.</p>
            <p class="p2">Filter on time,initiating user, and host to discover the actions taken by individuals.</p> 
            <p/>
<p><b>Windows Audit Policy</b></p>
            <p class="indent">This tab relies on windows EventCode=4731,4727,4754,4735,4737,4755,4734,4730,4758,4732,4728,4756,4733,4729,4757,4723,4724. To ensure you see these events, make sure Auditing for account management is configured for "success" and "failure". See <a href="https://docs.microsoft.com/en-us/windows-server/identity/ad-ds/plan/security-best-practices/audit-policy-recommendations">Windows Auditing Recomendations</a> for further information.</p>
            <p><strong>The dashboards are their typical uses are listed below;</strong></p>
            
            <p class="indent"><b>Group Changes By Signature: </b>Look for any changes made by unprivileged users using the initiating user drop down</p>
            <p class="indent"><b>Group Change Relationships: </b>Discover relationships between users, hosts and change activity</p>
            <p class="indent"><b>Detailed Groupd Changes Activity: </b>Use the dashboard filters to understand every change to group membership over time</p>
            <p/>
            <p class="p2"/>
            <p class="p1">
                  <strong>Typical Sources of Information:</strong>
                </p>
            <p class="p3"/>
            <ul class="ul1">
            <li class="li1">Windows Domain Controllers</li>
            <li class="li1">Windows Member Servers</li>
            </ul>
            <p class="p3"/>
            <p class="p1">
                  <strong>Required Fields</strong>
                </p>
            <p class="p2"/>
            <table border="1" cellpadding="10px">
              <th>Splunk Field Name</th>
                  <th>Description</th>
                  <th>Example</th>
              <tr>
                    <td>src_user</td>
                    <td>The unprivileged account escalating privilege</td>
                    <td>fred.flintstone</td>
                  </tr>
              <tr>
                    <td>action>/td>
                    <td>The action taken or outcome</td>
                    <td>created, modified, deleted</td>
                  </tr>
              <tr>
                    <td>signature</td>
                    <td>The practical change that occurred</td>
                    <td>Password Set, A Security-enabled global group was created</td>
                  </tr>
              <tr>
                    <td>user</td>
                    <td>The user making the action, or new privileged account</td>
                    <td>fred_admin</td>
                  </tr>
	      </table>
	      <p></p>
              <p>Extract more fields for <a target="_blank" href="/app/security_monitoring_for_splunk/search?q=search%20eventtype%3Dwindows_security_events">Windows Security Events</a> or look at the <a target="_blank" href="/app/security_monitoring_for_splunk/tutorials">tutorials page</a> to find out how.</p>
            <p></p>
        </div>
       </td>
        </table>
